 aside.app-sidebar {
     position: fixed;
     height: 100%;
     padding: 32px 24px;
     background: linear-gradient(318.96deg, #26AE26 -9.93%, #22B137 -9.92%, #00B09B -9.9%, #96C93D 126.1%);
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
 }

 aside.app-sidebar img {
     width: 48px;
 }

 aside.app-sidebar footer a, aside.app-sidebar footer button {
     width: 48px;
     height: 48px;
     border: 0;
     background: #ffd666;
     border-radius: 16px;
     cursor: pointer;
     transition: background-color 0.2s;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 aside.app-sidebar footer a:hover, aside.app-sidebar footer button:hover {
     background: #96e47c;
 }